@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

/* Utils */
@import "utils/variables.css";

body{
    font-family: var(--font-domine);
    font-style: normal;
    background-color: #5D389C;
}
h1{
    font-family: var(--font-domine);
    color: #ffffff;
    text-align: center;
}
h2{
    font-family: var(--font-domine);
    color: #ffffff;
    text-align: center;
}

h3{
    font-family: var(--font-domine);
    color: #ffffff;
    text-align: center;
}

p{
    font-family: var(--font-domine);
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
}
a{
    text-decoration: none;
    
}
img{
    max-width: 100%;
    height: auto;
}

.img_1{
    box-shadow: 2px 1px 4px 3px rgba(215, 181, 0, 0.4);
    border-radius: 40px;
    margin-left: -28px;
}
.img2 {
    
    display: flex;
    justify-content: center;
}
.img3 {
    display: flex;
    justify-content: center;
    margin: auto; 
    box-shadow: 2px 1px 4px 3px rgba(215, 181, 0, 0.4);
    border-radius: 23px;
}
.img3-1 {
    display: flex;
    justify-content: center;
    margin: auto; 
    box-shadow: 2px 1px 4px 3px rgba(215, 181, 0, 0.4);
    border-radius: 45px;
}
.spotify{
    width: 80px;
    height: 80px;
    margin: auto -5px;
}
.footer {
    background-color: var(--beige-3);
    color: var(--black);
    font-family: var(--noto-serif);
    padding-top: 28px;
    padding-bottom: 30px;
    display: block;

}
.footerquestion {
    display: flex;
    justify-content: center;
}
.button {
    color: #fff ;
    border-radius: 10px;
    padding-top: 5px;
    background-color: #6F6E8D;
    padding-bottom: 5px;
}

.buttonfooter {
    color: #fff ;
    border-radius: 20px;
    padding-top: 5px;
    background-color: #6F6E8D;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-top: 10px;
    
}

.footer__btnquestion {
    margin-left: 5px;
}
.footer__LogoMMI {
    height: 80px;
    width: 80px;
}
.footer__end {
    display: flex;
}
.redirect {
    display: flex;
    justify-content: center;
}
.footer__mailto {
    height: 50px;
    width: 50px;
}
.imgLivre {
        display: flex;
        justify-content: center;
        width: auto;
}
.dollar{
    width: 100px;
    height: 100px;
}
.buttonlivre {
    color: #fff ;
    border-radius: 20px;
    padding-top: 5px;
    background-color: #6F6E8D;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
        
}
.contact {
width: auto;
height: auto;
background: #6F6E8D;
border-radius: 40px;
}
.txt__contact {
    color: #fff;
    padding-top: 5px;
}
.btnenvoyer__contact {
    color: #000 ;
    border-radius: 20px;
    padding-top: 5px;
    background-color: #fff;

    
}

.pa_btn-art {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.pa_btn-fig {
    border: 3px solid;
    border-color:black;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
}

.pa_btn-img {
    width: 40vw;
    border-radius: 15px 0px 0px 15px;
    flex: none;
}

.pa_btn-title {
    font-family: var(--font-domine);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    margin-top: 20px;
    flex: auto;
    text-align: left;
}

.pa_btn-text {
    font-family: var(--font-domine);
    font-style: normal;
    font-size: 12px;
    color: #000;
    margin-top: 11px;
    flex: auto;
    text-align: left;
    margin-right: 35px;
}

.pa_btn-plus {
    font-family: var(--font-domine);
    font-weight: bold;
    font-size: 8px;
    color: white;
    text-align: right;
    margin-right: 14px;
}

.pad {
    padding-top: 35px;
    padding-bottom: 35px;
}
.img_ampoule {
    width: 300px;
    height: 300px;
}
.img_idée {
    width: 350px;
    height: 300px;
}
.backtop {
    margin-left:  50px;
}
.film_gauche {
    float: left;
    margin-left:  10px;
    width: 150px;
    height: 200px;
    margin-top: 30px;
}
.film_droite {
    float: right;
    margin-left:  50px;
    width: 150px;
    height: 200px;
    margin-top: 30px;
}
.encadrement {
padding-top: 100px;
padding-bottom: 1000px;
background-color: #6F6E8D;
border-radius: 10px;
}
.texte_gauche {
    margin-left:  90px;
}
.texte_droite {
    margin-left:  170px;
    margin-bottom: 100px;
}
.cable {
    width: 150px;
    height: 100px;
    margin-left: -98px;
}
.encadrement_glossaire {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #6F6E8D;
    border-radius: 10px;
    }
    .carousel-item {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        margin-left: 1rem;
    }
    .carousel-items {
        display: flex;
        overflow-x: scroll;
        padding: 1rem 0;
    }
    a {
        color: rgba(255, 217, 0, 0.764);
      }
  
