body{
    background-color: #232323;
}
h1{
    color: #ffffff;
    text-align: center;
}
p{
    color: #ffffff;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.img2{
    display: flex;
}
.spotify{
    width: 40px;
    height: 40px;
}